body{
    margin:0px;
}
.container{
    width: 100%;
}
.row{
    max-width: 500px;
}
.container1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.table-responsive{
    color:grey;
}
.nav-wrapper{
    text-align: center;
}
.header{
    font-size: 25px;
}
.commentCard{
    width:100% !important;
}
